[Desktop Entry]
Version=1.0
Type=Application
Name=WhatsApp Web
Exec=whatsapp-web-launcher
Icon=whatsapp-web-launcher.svg
Terminal=false
StartupNotify=false
